<header >
    <div class="list">
        <a>Shapely Demo</a>
    
        <ul >
            <a>
                <li>  HOME</li>
            </a>
            <a>
                <li>   BLOG</li>
            </a>
            <a>
                 <li>PORTFOLIO </li>
            </a>
            <a>
                <li>ABOUTTHETEST</li>
             </a>
            <a>
                <li> LEVEL1</li>
            </a>
            <a>
                <li>  SHOPE</li>
            </a>
            <i class="fa-light fa-magnifying-glass"></i>
        </ul>
    </div>
</header>